.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 100px;
}

.section-wrapper {
  display: flex;
  justify-content: center;
  margin: 30px 30px 60px 30px;
  background-color: burlywood;
  height: 70vh;
  border-radius: 10px;
}

.hero-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.section-content p {
  width: 300px;
  font-size: small;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
}

.section-content h3 {
  color: #6f4e37;
  font-size: small;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 761px) and (max-width: 900px) {
  .hero-section {
    column-gap: 50px;
  }

  .hero-image {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 700px) and (max-width: 761px) {
  .hero-section {
    column-gap: 30px;
  }

  .hero-image {
    width: 200px;
    height: 200px;
  }

  .section-content p {
    width: 250px;
  }
}
