nav {
  position: fixed;
  top: 0;
  background-color: hsl(25, 34%, 33%);
  height: 60px;
  width: 100%;
  z-index: 1000;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navContent {
  display: flex;
  align-items: center;
}

.link {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
}

.link:hover {
  color: burlywood;
}

.profile-icon {
  background-color: #fff;
  font-weight: bolder;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #6f4e37;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
