footer {
  background-color: #6f4e37;
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
